* {
  margin: 0px;
  padding: 0px;
  /*border: 1px red solid;*/
  font-size: 12px;
}
header {
  border-width: 5px;
  border-bottom-style: groove;
  width: 900px;
  height: 100px;
}
.logo {
  border: 1px red solid;
  float: left;
}
.logo img {
  float: left;
}
.logo h1 {
  font-family: 'Yellowtail';
}
nav {
  float: right;
}
nav span {
  margin-left: 10px;
}
nav li {
  display: inline-block;
}
article {
  width: 900px;
}
.title {
  width: 900px;
}
.title h2 {
  font-family: 'Oswald', sans-serif;
}
.title .text {
  float: left;
}
.print {
  float: right;
}
.pizza {
  width: 900px;
}
.main p {
  width: 900px;
}
.recipe {
  background-image: url("img/list-bg.png");
  width: 900px;
  box-shadow: 0 4px #888;
}
.recipe ul {
  margin-left: 50px;
}
.recipe li {
  vertical-align: top;
  display: inline-block;
  width: 200px;
  margin-right: 100px;
}
footer {
  width: 900px;
}
.author img {
  float: left;
}
footer button {
  float: right;
}
.rights {
  clear: left;
  display: block;
  text-align: center;
}
